@use './helpers' as *;

body {
    min-height: 100vh;
    font-family: var(--font-family-sans);
    color: var(--text-base);
    background-color: var(--background-press);
    padding: rem(8);
}

main {
    flex-grow: 1;
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: inherit;

    &[class] {
        text-decoration: none;
    }
}
